<!DOCTYPE html>
<html>
<head>
    <title>Moklr - 出错啦!</title>

    <% include meta.ejs %>

</head>
<body>

<% include header.ejs %>

<div class="container" id="main-content">
    <h4><%= msg %></h4>

    <h5>
        <% if(locals.error && error.status){ %>
        <%= error.status %>
        <% } %>
    </h5>


        <% if(locals.error && error.status){ %>
    <pre>
        <%= error.stack %>
         </pre>
        <% } %>



</div>


<% include footer.ejs %>
</body>
</html>
