
<footer>
    <nav class="navbar navbar-default" style="margin-bottom:0px;margin-top:40px;">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/">
                        <strong>Moklr</strong>
                    </a>
                    <small class="text-muted">is written by  <a href="https://www.sumory.com">sumory</a> with <span class="glyphicon glyphicon-heart small" aria-hidden="true"></span></small>

                </div>
            </div>

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="https://github.com/sumory/moklr">Github</a></li>
            </ul>
        </div>
    </nav>

</footer>
