<!DOCTYPE html>
<html>
<head>
    <title>Moklr - help</title>

    <%include meta.ejs%>

</head>
<body>


<%include header.ejs%>


<div class="container" id="main-content" style="width:500px;min-height:300px;">
    <h1>Help</h1>

    see <a href="http://github.com/sumory/moklr"><code>github</code></a> for help or email <a href="mailto:sumory.wu@gmail.com">sumory.wu@gmail.com</a>

</div>
<%include footer.ejs%>

</body>
</html>
