<!DOCTYPE html>
<html>
<head>
    <title>登录</title>

    <%include meta.ejs%>

</head>
<body>


<%include header.ejs%>


<div class="container" id="main-content" style="width:350px;">
    <h1 style="margin-bottom:40px;">Login</h1>


    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="username">User</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"  placeholder="Password">
        </div>
        <button type="submit" class="btn btn-info">Login</button>
    </form>



</div>
<%include footer.ejs%>

</body>
</html>
