<meta http-equiv="content-type" content="text/html;charset=utf-8">

<title>Moklr - Postman, Status server, Mock http request</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.5.journal.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/highlight-8.4-github.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/font.css" media="all">
<!--<link rel="stylesheet" type="text/css" href="/css/icheck-skins/all.css" media="all">-->
<!--http://www.bootcss.com/p/icheck/#skins -->

<link rel="stylesheet" type="text/css" href="/css/ui-dialog.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/main.css" media="all">

<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-3.3.5.min.js"></script>
<!--<script type="text/javascript" src="/js/icheck.min.js"></script>-->
<script type="text/javascript" src="/js/highlight-8.4.min.js"></script>
<script type="text/javascript" src="/js/FileSaver.min.js"></script>
<script type="text/javascript" src="/js/juicer.js"></script>
<script type="text/javascript" src="/js/dialog-min.js"></script>