<html>
<head>
    <%include meta.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/profile.css" media="all">
</head>

<body>
<%include header.ejs%>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-md-2" id="left-row">

            <div class="row">
                <div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
                    <h4 style="margin-top:0px;">Collections </h4>
                </div>
                <div class="col-md-3" style="padding-left: 0px;">
                    <span style="margin-top: 3px;" class="badge" id="collection-count-bage"></span>
                </div>
                <div class="col-md-1" style="padding-right: 0px;">
                    <button type="button" class="btn btn-default btn-xs" id="createCollectionBtn" style="margin-top: 3px;">
                        <span class="glyphicon glyphicon-plus-sign" style="top:0px;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>




            <div class="row" id="my-collections-area">
                <ul class="list" id="my-collections">

                </ul>
            </div>



        </div>
        <div class="col-md-10" id="right-row">
            <div id="harform" data-page="moklr"></div>
            <!--<pre><code id="selected_har_code"></code></pre>-->

        </div>
    </div>
</div>



<%include footer.ejs%>
<%include profile-tpl.ejs%>
<%include modal-tpl.ejs%>

<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/profile.js"></script>
<script>
    $(document).ready(function() {
        Moklr.Profile.init();
    });
</script>
</body>
</html>