* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: #36434C;
    font-family: 'Open Sans', helvetica, sans-serif;
}

code, kbd, pre, samp {
    background-color: #FFFFFF;
    font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}


div[data-page="moklr"] .form-inline .form-group {
    margin-bottom: 15px;
}

div[data-page="moklr"] .input-group.multi > .form-control {
    width: 49%;
}

div[data-page="moklr"] .input-group.multi > .form-control:last-of-type {
    margin-left: -1px;
}

div[data-page="moklr"] .pair:last-of-type .btn-danger {
    display: none;
}

div[data-page="moklr"] .pair .btn-success {
    border-radius: 0px;
}

div[data-page="moklr"] .pair .btn-danger {
    border-radius: 0px;
}

#harform .btn-success i {
    top: 0px;
}

#harform .btn-danger i {
    top: 0px;
}

div[data-page="moklr"] .pair:not(:last-of-type) .btn-success {
    display: none;
}

div[data-page="moklr"] code {
    min-height: 400px;
}

.table {
    table-layout: fixed;
    white-space: nowrap;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    padding-bottom: 2px;
    padding-top: 4px;
    vertical-align: 2px;
    font-size: 10px;
}

/**/
.logo a {
    font-size: 24px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

span.input-group-btn button.btn {
    height: 30px;
}

#preview_code {
    margin-top: 20px;
    max-height:600px;
}

#codeArea {
    display: none;
}

#execArea {
    display: none;
}

form[name=postData-params] {
    display: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active, .btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.col-md-12 {
    padding-left: 0px;
}

.control-label {
    font-size: 14px;
}

.navbar-default {
    background-color: #F4F4F4;
    border-color: #eeeeee;
    border-radius: 0px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F9F9F9;
    opacity: 1;
}

.form-control{
    font-size:14px;
}
.btn{
    font-size:14px;
}
.dropdown-menu{
    font-size:12px;
    min-width:50px;
}